{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuelas</title>
    <link rel="stylesheet" href=" {% static 'css/estiles.css' %} ">
</head>
<body style="background-color: #002d62;">
    <img style="margin-left: 35%; width: 520px; margin-top:75px;" src="{% static 'images/logo.png' %} " alt="">
    <div class="container" style="background-color:#002d62;">
        <div class="screen" style="height: 120%; margin-left: 35%; margin-top: 0px;">
            <div class="screen__content" style="height: 120%;">
                <h3 style="margin-left: 2%;">Escuelas</h3>
                {% for escuela in escuelas  %}
                    <a href="{% url 'users_app:login' escuela.pk  %} "  class="button login__submit">
                        <span class="button__text">{{escuela.nombre}} </span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </a>				
                {% endfor %}
                <div class="social-login">
               
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                 
                </div>
            </div>
           
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</body>
</html>