{% extends "base.html" %}


{% block content %}

{% for mate in materia %}
    <span onmouseover="cambiarcolor(this)"  onmouseout="cambiar(this)"   style="margin-left:15px ;"><a href="?materia={{mate.id}} ">{{mate}}</a></span>
{% endfor %}
<br><br>
{% for sec in seciones %}
{% if sec %}
<span style="margin-left: 15px;">secion:</span>
{% if sec.materia.profesor.user == user %}
<ul>
    <li id="cambiarcolors" onmouseover="cambiarcolor(this)" onmouseout="cambiar(this)"><span style="margin-left:15px ;"><a href=" {% url 'inicio_app:seciones-alunnos' sec.id %}">{{sec}}</a></span></li>
</ul>
{% endif %}
{% endif %}
{% endfor %}
<form  method="GET" style="">
    <input placeholder="matricula ..." name="buscar" type="text">
    <button class="btn btn-outline-primary"  type="submit">Añadir</button>
</form>
<br><br><br>
<table style="width: 100%; margin: auto;" >
    <tr style="background-color:  #002d62; color: rgb(255, 255, 255);">
        <th class="centro" scope="col">Alunnos</th><th class="centro" scope="col">Asistencia</th><th class="centro" scope="col">Participacion</th><th class="centro" scope="col">Parcial</th><th class="centro" scope="col">Examen Final</th><th class="centro" scope="col">Nota Final</th><th class="centro" scope="col">Accion</th>
    </tr>
    {% for estud in estudiantes %}
    <form action="?alunno={{estud.id}}" method="POST">{% csrf_token %}
        <tr style="background-color: rgb(230, 230, 255); color: rgb(0, 0, 0); border: none;">
            <th class="centro" scope="col">{{estud.user.nombre}}</th><th class="centro"   scope="col">{{form.asistencia}}  </th><th class="centro" scope="col">{{form.participacion}}</th><th class="centro" scope="col">{{form.parcial}} </th><th class="centro" scope="col">{{form.filnal_ex}}</th><th class="centro"   scope="col">{{form.nota_final}}  </th> <th class="centro" scope="col"><button type="submit" class="btn btn-outline-primary">Guardar</button></th>
        </tr>
    </form>
    {% endfor %}
</table>
<br><br><br>
<table style="width: 90%; margin: auto; border: none; border-collapse: collapse">
    <tr style="background-color:  #002d62; color: rgb(255, 255, 255);">
        <th class="centro" scope="col">Alunnos</th><th class="centro" scope="col">Asistencia</th><th class="centro" scope="col">Participacion</th><th class="centro" scope="col">Parcial</th><th class="centro" scope="col">Examen Final</th><th class="centro" scope="col">Nota Final</th>
    </tr>
{% for estud in notas %}
<form action="?alunno={{estud.id}}" method="POST">{% csrf_token %}
<tr style="background-color: rgb(230, 230, 255); color: rgb(0, 0, 0); border: none;">
    <th class="centro" scope="col">{{estud.alunno.user.nombre}} </th><th class="centro"   scope="col"> <input   value="{{estud.asistencia}}" style="border-radius: 5px;" readonly type="text"></th><th class="centro" scope="col"><input type="text" value="{{estud.participacion}}" readonly style="border-radius: 5px;"></th><th class="centro" scope="col"> <input type="text" value="{{estud.parcial}}" readonly style="border-radius: 5px;"> </th><th class="centro" scope="col"><input type="text" value="{{estud.filnal_ex}}" readonly style="border-radius: 5px;"></th> <th class="centro"   scope="col"> <input value="{{estud.nota_final}}" style="border-radius: 5px;" readonly type="text"></th>
</tr>
</form>
{% endfor %}
</table>
{% endblock content %}